body {
  font-family: 'Open Sans', serif;
  padding-top: 54px;
  color: #868e96;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
}

h1,
h2,
h3,
h5,
h6 {
  font-family: 'Saira Extra Condensed', serif;
  font-weight: 700;
  /* text-transform: uppercase; */
  color: #343a40;
}
h4 {
  font-family: 'Saira Extra Condensed', serif;
  font-weight: 700;
  
  /* color: #343a40; */
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

.subheading {
  /* text-transform: uppercase; */
  font-weight: 500;
  font-family: 'Saira Extra Condensed', serif;
  font-size: 1.35rem;
}

.list-social-icons a {
  color: #495057;
}

.list-social-icons a:hover {
  color: #007bff;
}

.list-social-icons a .fa-lg {
  font-size: 1.75rem;
}

.list-icons {
  font-size: 4rem;
}

.list-icons .list-inline-item i:hover {
  color: #0056b3;
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 600;
  /* text-transform: uppercase; */
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

section.resume-section {
  border-bottom: 1px solid #dee2e6;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

.bg-primary {
  background-color: #3b454e !important;
}

.text-primary {
  color: #0d3654 !important;
}

a {
  color: #0056b3;
}

a:hover, a:focus, a:active {
  color: #004085;
}
.markermultiicon{
  color: black;
  font-size: large;
}
.proj-row-odd {
  background: #e0e6e6;
  border: 12px solid #ccc0;
border-radius: 7px;
    padding: 10px;
    margin-bottom: 5px;
}
.proj-row-even {
      background: #536069;
      color:#e2e1e1;
      border: 12px solid #ccc0;
border-radius: 7px;
          margin-bottom: 5px;
    padding: 10px;
}
.proj-row-odd .project-title {
  color:#66849c;
}
.proj-row-even .project-title {
  color:#e8e8e8;
}
.tool-label{
  display: inline-block;
  margin:2px;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #3d76b3;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background: white;
}
.proj-row-odd .project-desc{
  color: #66849c;
  text-shadow: 1px 3px 2px #b9adad;
}
.proj-row-even .project-desc{
  color: #e8e8e8;
  text-shadow: 1px 3px 2px black;
}