<!DOCTYPE html>
<html lang="en" ng-app = "resumeApp">

  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125875087-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-125875087-1');
    </script> -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Alaa B. Abdelfattah</title>

    <!-- <script src="js/github-calendar.min.js"></script>
    <link rel="stylesheet" href="css/github-calendar.css"> -->
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="node_modules/devicon/devicon.min.css">
    <link href="node_modules/leaflet.markercluster/dist/MarkerCluster.css" rel="stylesheet">
    <link href="css/resume.css" rel="stylesheet">
    <link href="node_modules/leaflet/dist/leaflet.css" rel="stylesheet">

  </head>

  <body id="page-top" ng-controller="ResumeController" ng-init="load()">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">Alaa B.</span>
        <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/myphoto.png" alt="">
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#map_section">Map</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#education">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#projects">Projects</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#git">Github</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#langs">Languages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#certs">Certifications</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid p-0">

      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
          <h1 class="mb-0">Alaa B.
            <span class="text-primary">Abdelfattah</span>
          </h1>
          The CV in <a target="_blank" href="data/Alaa Abdelfattah - GIS Professional.pdf">PDF format</a>
          <div class="subheading mb-5">Heisstraße 59, Münster. Germany · +49 1788 59 543  ·
            <a href="mailto:contact@alaabakry.com">contact@alaabakry.com</a>
          </div>
          <p class="mb-5">GIS Developer/Analyst fluent in various geospatial technologies and web tools.
Master of Science in Geospatial Technogies&mdash; An Erasmus Mundus Joint Degree Master Program
(<a href = "http://mastergeotech.info" target = "_blank">mastergeotech.info</a>).
With ten years of professional experience working as software developer specializing in GIS applications.</p>
          <ul class="list-inline list-social-icons mb-0">
            <li class="list-inline-item" title="LinkedIn">
              <a href="https://www.linkedin.com/in/alaabakry/" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item" title="Github">
              <a href="https://github.com/alaacs" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item" title="Facebook">
              <a href="https://www.facebook.com/abakry" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item" title="CV in PDF format">
              <a href="data/Alaa Abdelfattah - GIS Professional.pdf" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-file-pdf-o fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <br/>
          <p>Last updated: <time datetime="2020-11-01 23:59">November 1<sup>st</sup> 2020</time></p>
        </div>
      </section>
      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="map_section">
        <div class="my-auto">
          <h2 class="mb-5">Experience Map</h2>
          <p>This map is created by using the <a target="_blank" href="data/experience.json">JSON</a> version of my
            <a target="_blank" href="data/experience.json">experience</a>.
            <a target="_blank" href="data/experience.json">Have a look!</a>
            <br>
          </p>
          <br/>
          <div class="container mx-0 px-0 mx-auto">
            <div class="row">
              <ul class="nav col-md-2 col-12 justify-content-center align-self-center">
                <li class="nav-item col-12 align-self-center">
                  <a class="nav-link active small text-center"
                    data-toggle="tooltip" data-placement="right" title="All"
                    ng-click = "experienceItemClicked('all')"
                    href>All</a>
                </li>
                <li ng-repeat="item in experience" class="nav-item col-12 align-self-center">
                  <a class="nav-link active small text-center"
                    data-toggle="tooltip" data-placement="right" title="{{item.description}}"
                    ng-click = "experienceItemClicked(item)"
                    href>{{item.from + ((item.to) ? " to " + item.to : "")}}</a>
                </li>

              </ul>
              <div id="map" style="height:700px"
                class="col-md-10 col-12 mb-2 px-2">

              </div>
            </div>
            <div class="row">
              <div class= "col-md-2 col-12">

              </div>
              <div class="btn-group btn-group-toggle justify-content-center align-self-center col-md-10 col-12" data-toggle="buttons">
                <label class="btn btn-light active" ng-click="selectAllClicked()">
                  <input type="radio" name="options" id="option1" autocomplete="off"  checked> All
                </label>
                <label class="btn btn-light" ng-click="selectEducationClicked()">
                  <input type="radio" name="options" id="option2" autocomplete="off" > Education
                </label>
                <label class="btn btn-light" ng-click="selectWorkClicked()">
                  <input type="radio" name="options" id="option3" autocomplete="off" > Work
                </label>
              </div>
            </div>
          </div>
          </div>

        </div>
      </section>
      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
        <div class="my-auto">
          <h2 class="mb-5">Experience</h2>
          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Software Engineer</h3>
              <div class="subheading mb-3"><a href = "https://www.conterra.de/" target = "_blank">con terra<a/> - Münster, Germany</div>
              <p>Part of the Networks and Infrastructure team at con terra. 
                Developing different kind of web and GIS applications for our clients from telecommunication area of business.
                Working in an agile environment with latest technologies and adopting CI/CD through state-of-the-art cloud solutions.
                <ul>
                  <li>Developing and maintaining web applications</li>
                  <li>GIS Geoprocessisng tools and services</li>
                  <li>General applications for the company (<a href="https://dreamjob.conterra.de/"  target="_blank">Dream Job Configurator</a>)</li>
                </ul>
              </p>
			  <p> <u>Technologies and tools used:</u>
				<ul>
					<li>ArcGIS Desktop, ArcGIS Server, Portal for ArcGIS, ArcPy,
            and ArcGIS API for Javascript</li>
					<li>Oracle, PLSQL, and MySQL</li>
					<li>Javascript, Python, HTML, and CSS</li>
          <li>NodeJS, VueJS, Vuetify, Dojo</li>
				</ul>
			  </p>  
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">May 2019 – Present </span>
            </div>
          </div>
          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Senior Software Developer / Software Team Lead</h3>
              <div class="subheading mb-3"><a href = "http://khatibalami.com/Portfolio/GSI.html" target = "_blank">Khatib & Alami<a/> - Beirut, Lebanon</div>
              <p>Designing and developing software products/services, leading development teams, onsite/remote deployment,
			  fixing deployment bugs, troubleshooting performance issues, and conducting user trainings and UATs.
				Always aligning with CMMI standards. Stressful environment, and tight deadlines are always a challenge.</p>
			  <p> <u>Technologies and tools used:</u>
				<ul>
					<li>ArcGIS Desktop, ArcGIS Server, Portal for ArcGIS, Web AppBuilder for ArcGIS, ArcPy,
					ArcGIS API for Javascript, and ArcGIS API for Flex</li>
					<li>Oracle, PLSQL, and Microsoft SQL</li>
					<li>C#, Python, ActionScript, Javascript, HTML, and CSS</li>
					<li>ASP.NET Web API, Boostrap, jQuery, AngularJs, Dojo, Highcharts.js.</li>
				</ul>
			  </p>
			  <p> <u>Projects:</u>
				<ul>
					<li>Review and Development of Kuwait Municipality’s GIS</li>
					<li>Aldar Properties(Abu Dhabi)</li>
					<li>ADTCA(Abu Dhabi Tourism And Culture Authority)</li>
					<li>ADSIC Geospatial Executive Dashboard- Abu Dhabi</li>
					<li>Project Tracking for MEW(Ministry of Electricity and Water)-Kuwait</li>
					<li>CMMI induction and training-Lebanon</li>
				</ul>
			  </p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">January 2013 – August 2017</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Senior Software Developer</h3>
              <div class="subheading mb-3"><a href= "http://www.esrinea.com" target = "_blank">ESRI Northeast Africa</a> - Cairo, Egypt</div>
              <p>Developing various system modules in GIS web applications using mainly .Net technologies, like ASP.Net,
			  Silverlight, C#, and VB.Net, also used Adobe Flex, Action Script, and .Net with WebOrb ® as a middle tier remoting technology,
			  My experience’s ranging from UI presentation facade development, Implementing .Net business and database layers libraries,
			  to fixing critical performance and deployment bugs where tight deadlines and stressful environment were always a challenge.</p>

			  <p> <u>Projects:</u>
				<ul>
					<li>Electronic City Planning(ECP) for Jeddah Municipality</li>
					<li>Qatar NJM system</li>
					<li>Cleaning management system for HASA municipality in KSA (Kingdom of Saudi Arabia)</li>
					<li>ADSDI Mapviewer</li>
				</ul>
			  </p>
			</div>
            <div class="resume-date text-md-right">
              <span class="text-primary">January 2010 – December 2012</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Software Developer</h3>
              <div class="subheading mb-3"><a href= "http://www.miic.gov.eg" target = "_blank">Ministry of Investment</a> - Cairo, Egypt</div>
              <p>Developing websites and portals for internal use in the ministry and other websites and utilities
			  for the benefit of the minister (Using mainly ASP.Net, MS SQL Server 2000, 2005, and Crystal reports)</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">January 2009 – November 2009</span>
            </div>
          </div>

        </div>

      </section>
      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
        <div class="my-auto">
          <h2 class="mb-5">Education</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Universitat Jaume I (Spain) <br/> University of Münster (Germany)
			  <br/>NOVA IMS Information Management School (Portugal)</h3>
              <div class="subheading mb-3"><a href = "http://mastergeotech.info" target = "_blank">
			  MSc of Geospatial Technologies</a></div>
              <div>Erasmus+ Category A Scholarship Holder</div>
              <p>GPA: #</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">September 2017 - March 2019</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Faculty of Computer and Information Sciences, Ain Shams University</h3>
              <div class="subheading mb-3">BSc of Computer Science</div>
              <p>Grade: Good</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">September 2004 - May 2008</span>
            </div>
          </div>

        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
        <div class="my-auto">
          <h2 class="mb-5">Skills</h2>

          <div class="subheading mb-3">Programming Languages &amp; Tools</div>
          <div class="container">
            <div class="row align-middle" style="display: flex;align-items: center;">
              <div class="col mx-2 align-middle">
                <img style="max-width:100%" src="https://raw.githubusercontent.com/Leaflet/Leaflet/master/docs/docs/images/logo.png" alt="leaflet">
              </div>
              <div class="col mx-2" style="text-align:center;align-items: center;" >
                <a href = "https://www.certmetrics.com/esri/public/transcript.aspx?transcript=9T02QGW22N1E5W4B" target = "_blank">
                <img style="max-width:100%" src="img/esriCert.png" alt="ESRI"> </a>
              </div>
              <div class="col mx-2 align-middle" style="display: flex;align-items: center;">
                <img style="max-width:100%" src="img/qgis-logo.png" alt="QGIS">
              </div>

            </div>
          </div>

          <ul class="list-inline list-icons">
            <li class="list-inline-item">
              <i class="devicon-html5-plain"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicon-css3-plain-wordmark"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicon-javascript-plain"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicon-jquery-plain-wordmark"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicon-angularjs-plain"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicon-nodejs-plain-wordmark"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicon-bootstrap-plain-wordmark"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicon-d3js-plain"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicon-csharp-plain"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicon-dot-net-plain-wordmark"></i>
            </li>
			<li class="list-inline-item">
              <i class="devicon-visualstudio-plain"></i>
            </li>
			<li class="list-inline-item">
              <i class="devicon-python-plain-wordmark"></i>
            </li>
			<li class="list-inline-item">
              <i class="devicon-oracle-original"></i>
            </li>
			<li class="list-inline-item">
              <i class="devicon-postgresql-plain-wordmark"></i>
            </li>
			<li class="list-inline-item">
              <i class="devicon-mongodb-plain-wordmark"></i>
            </li>
			<li class="list-inline-item">
              <i class="devicon-github-plain-wordmark"></i>
            </li>
          </ul>

          <!-- <div class="subheading mb-3">Workflow</div> -->
          <ul class="fa-ul mb-0">
            <li>
              <i class="fa-li fa fa-check"></i>
              HTML5, JavaScript, and CSS</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              jQuery, AngularJS, Bootstrap, Dojo, D3, Hightcharts, and Google Charts</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              NodeJS, MongoDB</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Leaflet, ArcGIS API for JS, and Google Maps API</li>
			 <li>
              <i class="fa-li fa fa-check"></i>
              Python, ArcPy, PyQGIS, OGR, and GDAL</li>
			 <li>
              <i class="fa-li fa fa-check"></i>
              R, sf, ggplot, spatial analysis with R</li>
			 <li>
              <i class="fa-li fa fa-check"></i>
              QGIS, ArcGIS Desktop, PCI Geomatica</li>
			 <li>
              <i class="fa-li fa fa-check"></i>
              ArcGIS Server</li>
			 <li>
              <i class="fa-li fa fa-check"></i>
              Web GIS (Portal for ArcGIS, ArcGIS Online, ArcGIS Web App Builder</li>
			 <li>
              <i class="fa-li fa fa-check"></i>
              Postgres, Ms SQL Server, Oracle</li>
			 <li>
              <i class="fa-li fa fa-check"></i>
              WebAPI ASP.Net MVC</li>
			 <li>
              <i class="fa-li fa fa-check"></i>
              Ms Visual Studio.Net (C#, Visual Basic)</li>
			 <li>
              <i class="fa-li fa fa-check"></i>
              Web application (ASP.NET)</li>
			 <li>
              <i class="fa-li fa fa-check"></i>
              Adobe Flex 3.5, Action Script 3</li>
			 <li>
              <i class="fa-li fa fa-check"></i>
              Crystal reports</li>
			 <li>
              <i class="fa-li fa fa-check"></i>
              UML, Rational Rose, Visio, and Enterprise Architect</li>
			 <li>
              <i class="fa-li fa fa-check"></i>
              Microsoft Silverlight</li>
          </ul>
		  *Skills and technologies are ordered chronologically by the last time used.
        </div>
      </section>
      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="projects">
        <div class="my-auto">
          <h2 class="mb-5">Projects</h2>
          <p>This project list is based on a <a target="_blank" href="data/projects.json">JSON</a> version of my
            <a target="_blank" href="data/projects.json">project experience.</a>.
            <!-- <a target="_blank" href="data/experience.json">Have a look!</a> -->
            <br>
          </p>
          <br/>
          <div class="proj-row-odd">
            <div class="dropdown filter-tools-wrapper">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Filter by
              <span class="caret"></span></button>
              <ul class="dropdown-menu scrollable-menu">
                <input class="form-control" id="myInput" ng-keydown="filterInputKeyPress($event)" type="text" placeholder="Search..">
                <li tabindex="-1" ng-keydown = "listItemKeydown($event)" ng-repeat = "skill in skills"><a ng-click="filterProjects(skill)">{{skill}}</a></li>
              </ul>
            </div> <span class="label label-info">{{selectedProjects.length}} project(s)</span>
            <div class="tools-wrapper" style="width: 50%;">
              <span class="tool-label" ng-repeat = "skill in selectedSkills">{{skill}}</span>
              <button type="button" class="btn btn-link" ng-show = "selectedSkills && selectedSkills.length > 0" ng-click = "clearFilters()">Clear</button>

            </div>
          </div>

          <table>
            <div id="proj" ng-class = "{0:'proj-row-even', 1:'proj-row-odd'}[$index%2]"  ng-repeat="project in selectedProjects | orderBy:'-id'">
              <h4 class="col" > <a class="project-title" href="{{project.url && project.url!='' ? project.url : '#'}}"
                ng-style = "(!project.url || project.url=='') && { 'pointer-events': 'none'}"
                target="{{project.url && project.url!='' ? '_blank' : '_self'}}">{{project.projectName}}</a></h4>
              <span><a class="project-desc" href="{{project.descUrl && project.descUrl!='' ? project.descUrl : '#'}}"
                ng-style = "(!project.descUrl || project.descUrl=='') && { 'pointer-events': 'none'}"
                target="{{project.descUrl && project.descUrl!='' ? '_blank' : '_self'}}">{{project.desc}}</a></span>
              <hr>

                <div class="">
                  <span> <u>Role</u>: {{project.role}}</span>
                </div>
                <div class="tools-wrapper">
                  <u>Tools</u>:  <span style="cursor: pointer;" ng-click = "filterProjects(tool)" class="tool-label" ng-repeat = "tool in project.techs">{{tool}}</span>
                </div><hr>
              <div class="row">
                <div class="col-md-3 col-sm-6">
                  <span > <u>From</u>: {{project.fromDate}}</span><br>
                  <span > <u>To</u>: {{project.toDate}}</span><br>
                  <span><u>Duration</u>: {{project.durationInMonths}} month(s)</span>
                </div>
                <div class="col-md-9 col-sm-6">
                  <span > <u>Employer</u>: {{project.employer}}</span><br>
                  <span > <u>Client</u>: {{project.client}}</span><br>

                </div>
              </div>

              <br>
              <!-- <div class="progress">
                    <div class="progress-bar progress-bar-striped" role="progressbar" ng-style="{'width':project.durationInMonths/12 * 100 + '%'}" aria-valuenow="{{project.durationInMonths/12 * 100}}" aria-valuemin="0" aria-valuemax="100"></div>
              </div> -->
            </div>

          </table>
        </div>
      </section>
      <!-- <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="git">
        <div class="my-auto">
          <h2 class="mb-5">Github Calendar</h2>
          <div class="calendar">

          </div>
        </div>
      </section> -->
      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="langs">
        <div class="my-auto">
          <h2 class="mb-5">Languages</h2>
          <p><img title="Arabic (Egypt)" src="css/flags/egypt-flag-icon-64.png" alt="Egypt" /><u style="margin-left: 15px;">Arabic</u>: Mother tongue.<br/></p>
          <p><img title="English (USA)" src="css/flags/united-states-of-america-flag-icon-64.png" alt="USA" />
			<u style="margin-left: 15px;">English</u>: Fluent in speaking and writing.<br/>
			IELTS Score: 7
		  </p>
      <p class="mb-0"><img title="Spanish (Spain)" src="css/flags/spain-flag-icon-64.png" alt="Spain" /><u style="margin-left: 15px;">Spanish</u>: B2<br/><br/>
      </p>
      <p class="mb-0"><img title="German (Germany)" src="css/flags/germany-flag-icon-64.png" alt="Germany" /><u style="margin-left: 15px;">German</u>: A2<br/>
			</p>
        </div>
      </section>
      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="certs">
        <div class="my-auto">
          <h2 class="mb-5">Certifications</h2>
          <ul class="fa-ul mb-0">
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
			  <a href = "https://www.credly.com/badges/742a2997-31c2-46df-8b0e-847f1d9d11e" target = "_blank">
              Esri Enterprise Administration Professional</a></li>
            </li>

            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
			  <a href = "https://mcp.microsoft.com/Anonymous/Transcript/Validate" target = "_blank">
			  Microsoft Certified Solutions Developer - MCSD(Web Applications)</a></li>
			  Transcript ID (1139140)<br/>
			  Access Code (11223344)
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
			  <a href = "https://www.certmetrics.com/esri/public/transcript.aspx?transcript=9T02QGW22N1E5W4B" target = "_blank">
              Esri Web Application Developer Associate 10.2</a></li>

          </ul>
        </div>
      </section>

    </div>

    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/jquery-ui-dist/jquery-ui.min.js">
    </script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/leaflet/dist/leaflet.js"></script>
    <script src="node_modules/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
    <script src="js/resumeapp.js"></script>
  </body>

</html>
